<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../../static/backup/css/css.css" />
		<link rel="stylesheet" href="../../static/backup/css/font.css" />
		<script type="text/javascript" src="../../static/backup/js/jquery-1.11.3.min.js" ></script>
		<style>
		.con ul li span:nth-child(1){width: 30% !important;text-align: left;}
		.con ul li span:nth-child(3){width: 30% !important;text-align: center;}
		.con ul li span:nth-child(2){width: 20% !important;text-align: center;}
		.con ul li span:nth-child(4){width: 20% !important;text-align: right;}
		
		</style>
	</head>
	<body>
		<div class="head">
			<h1><i class="iconfont icon-fanhui" onclick="javascript:window.history.back(-1);"></i>排单币明细</h1>
			
		</div>
		<div class="order-main">

			<p style="width: 100%;background: #EEEEEE;height: 3px;"></p>
			<div class="con on">
				<div class="buy">
					<span>时间</span>
					<span>变动</span>
					<span>说明</span>
					<span>余额</span>
				</div>
				<ul>
					<li>
						<span>19/11/11 11:17</span>
						<span>-10</span>
						<span class="blue"><a href="Order_detail2.html">挂求购单</a></span>
						<span>25.00</span>
						
					</li>
					<li>
						<span>19/11/11 11:17</span>
						<span>+40</span>
						<span class="blue" ><a href="Order_details.html">充币</a></span>
						<span>23.00</span>
						
					</li>
					<li>
						<span>19/11/11 11:17</span>
						<span>-90</span>
						<span class="blue"><a href="javascript:;">账户激活</a></span>
						<span>23.00</span>
					</li>
				</ul>
			</div>

			
		</div>
		
	</body>
</html>
