<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../../static/backup/css/css.css" />
		<link rel="stylesheet" href="../../static/backup/css/font.css" />
	</head>
	<body>
		<div class="head">
			<h1><i class="iconfont icon-fanhui" onclick="javascript:window.history.back(-1);"></i>收币地址</h1>
			
		</div>
		<div class="noaddress">
			<img src="../../static/backup/img/none.png" />
			<p>你还未设置收币地址</p>
		</div>
		<div class="add"><a href="add_address.html">添加收币地址</a></div>
	</body>
</html>
