<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="/static/backup/css/css.css" />
		<link rel="stylesheet" href="/static/backup/css/font.css" />
		<style>
			.red{color: #EB4B40 !important;}
			.mask2 .check_qr{width: 80vw;background: #F5F5F5;padding: 20px;height: 70vh;border-radius: 10px;}
			.mask2{overflow-y: scroll;width: 100%;height: 100%;position: fixed;background: rgba(0,0,0,.5);top: 0px;left: 0px;z-index: 99;display: flex;flex-direction: column;justify-content: center;align-items: center;}
			.mask2 .qrbox{padding: 5%;background: white;border: 1px solid rgba(102, 102, 102, .3);width: 45vw;text-align: center;margin: 5% auto;}
			.check_qr h2{text-align: center;font-weight: normal;font-size: 1.1rem;}
			.check_qr .codecopy{text-align: center;width: 90%;margin: 10% auto;display: flex;flex-direction: column;justify-content: center;align-items: center;}
			.check_qr .codecopy i{display: block;width: 30%;color: white;background: #007AFF;border-radius: 10px;padding: 3% 0px;margin-top:5% ;}
			.tijiao1{display: none ;}
		</style>
	</head>
	<body>
	<input type="hidden" id="eos_address" th:value="${order['eos_address']}"/>
	<input type="hidden" id="pay_date" th:value="${order['pay_date']}"/>
	<div class="mask2" style="display: none;" >
		<div class="check_qr">
			<h2> 收款二维码</h2>
			<div class="qrbox">
				<div id="qrcode">

				</div>
			<div class="copydiv"><p id="vi_code4" style="width: 100%;word-break: break-all;">45h6dfh45dyhtehetetshdf</p><i class="iconfont  copyBtn" data-clipboard-target="#vi_code4" onclick="copy()">复制地址</i></div>

			</div>
			<div class="codecopy">

				<p id="vi_code0">0x88c06160cf66503af479c24dfadeaff 372842710</p >
				<i class="copyBtn" data-clipboard-target="#vi_code0" >复制地址</i>
			</div>
		</div>
		<div class="close_img" style="margin: 5%;"><img src="/static/backup/img/close.png"/></div>
	</div>
		<div class="head_order">
			<h1><i class="iconfont icon-fanhui" onclick="javascript:window.history.back(-1);"></i>订单详情</h1>
			<div class="waiting">
				<h2>待对方上传打款凭证</h2>
				<div class="Count_time">
					<span id="_h">00</span>:
            		<span id="_m">00</span>:
            		<span id="_s">00</span>
				</div>
				<p>请在<i th:text="${cancelTime}"></i>小时内完成操作,超出时间将取消订单 并对你的账号进行警告,累计<i th:text="${warn_count_saletota}"></i>次将进行封号处理.</p>
			</div>
		</div>
		<div class="order-list">
			<ul>
				<li>
					<div class="list1">
						<em><img src="/static/backup/img/EOS.png"/></em>
						<div class="esolist">
							<p><span>求购数量：</span><i th:text="${order['quantity']}"></i>EOS</p>
						<!--	<p ><span>求购单价：</span><i th:text="${order['quantity_price']}"></i></p>-->
							<p style="margin-top: 3%;"><span>交易总额：</span><i th:text="${order['quantity_total']}"></i></p>
						</div>
					</div>
				</li>
				<li>
					<div class="list2">
					<span>买家联系方式</span>
						<p th:text="${user['telphone']}?${user['telphone']}"></p>
					</div>
				</li>
				<li>
					<div class="list3">
					<span>买家姓名</span>
						<p th:text="${user['real_name']}?${user['real_name']}"></p>
					</div>
				</li>
				<li>
<!--					<div class="list5">-->
<!--						<span>收款二维码</span>-->
<!--						<span class="iconfont icon-chakan chek"><i>查看二维码</i></span>-->
<!--					</div>-->
					<div class="list6" style="display: flex;">
						<p>交易凭证</p>
						<span class="iconfont  red"><i>未上传</i></span>
					</div>
				</li>
				
			</ul>
		</div>
				<div class="tijiao1"><a href="javascript:;">申诉</a></div>
	<div class="mask" style="display: none;">
		<div class="serve-box">
			<div class="servetop">
				<h1>联 系 客 服</h1>
				<h6>Contact customer service</h6>
				<div class="qrbox">
					<div id="qrcode1">

					</div>
				</div>
			</div>
			<div class="buttom">
				<ul>
					<li>
						<span>客服微信：</span>
						<p id="vi_code1" >Retc001</p >
						<strong data-clipboard-target="#vi_code1" onclick="copy()" class="copyBtn">复制</strong>
					</li>
					<li>
						<span>客服邮箱：</span>
						<p id="vi_code2" >155555545225@163.com</p >
						<strong data-clipboard-target="#vi_code2" onclick="copy()" class="copyBtn">复制</strong>
					</li>
					<li>
						<span>官方邮箱：</span>
						<p id="vi_code3" >r657485@gmail.com</p >
						<strong data-clipboard-target="#vi_code3" onclick="copy()" class="copyBtn">复制</strong>
					</li>
				</ul>
			</div>

			<div class="tipss">
				<p>客服工作时间:10:00-20:00</p >
				<span>
    禁止向任何人透露账号密码,客服不会 主动向你讨要账号密码,谨防上当受骗
   </span>
			</div>
		</div>
		<span class="close_img"><img src="/static/backup/img/close.png"/></span>
	</div>
		<script type="text/javascript" src="/static/backup/js/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="/static/backup/layer/layer.js" ></script>
		<script type="text/javascript" src="/static/backup/js/jquery.qrcode.min.js" ></script>
		
			<script>
			jQuery(function(){

			jQuery('#qrcode').qrcode({
				width: 150,
				height: 150,
				text: $("#eos_address").val()
				});
		});
			$('.tijiao1').click(function(){
				$('.mask').show();
			});
			$('.close_img').click(function(){
				$('.mask').hide();
			});
	$(function () { 
  $('.chek').click(function (event) { 
    //取消事件冒泡 
    event.stopPropagation(); 
    //按钮的toggle,如果div是可见的,点击按钮切换为隐藏的;如果是隐藏的,切换为可见的。 
  $('.mas2k').fadeToggle('slow');
      return false;
  }); 
  
    $('.mask2').click(function(event){
        var _con = $('.check_qr');  // 设置目标区域
        if(!_con.is(event.target) && _con.has(event.target).length === 0){ 
           $('.mask2').fadeToggle('slow');     //淡出消失
        }
   });
})
			
		</script>
			 <script type="text/javascript">
            //倒计时
        function GetRTime(){
        	var pay_date = $("#pay_date").val();
            var EndTime= new Date(pay_date);   //终止时间
            var NowTime = new Date();
            var t =EndTime.getTime() - NowTime.getTime();
            var d=parseInt(t/ 1000 / 60 / 60 / 24);
            h=parseInt(t/ 1000 / 60 / 60 % 24);
            m=parseInt(t/ 1000 / 60 % 60);
            s=parseInt(t/ 1000 % 60);
            h <10 ? h = '0' +h :h =h;
            m <10 ? m = '0' +m :m =m;
            s <10 ? s = '0' +s :s =s;
            //console.log(d+'天'+h+'时'+m+'分'+s+'秒');

            //将倒计时赋值到div中
            document.getElementById("_h").innerHTML = h ;
            document.getElementById("_m").innerHTML = m ;
            document.getElementById("_s").innerHTML = s ;
              if(t <= 2){
        $('.tijiao1').show();

            }
            if(t <= 0){
			document.getElementById("_h").innerHTML = '00';
            document.getElementById("_m").innerHTML = '00';
            document.getElementById("_s").innerHTML = '00' ;
                clearTimeout(GetRTime);
                	
                return false;
            }

            setTimeout(GetRTime,1000);
        }
      
        GetRTime();
        
      
       
      
       </script>
	</body>
</html>
