<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../../static/backup/css/css.css" />
		<link rel="stylesheet" href="../../static/backup/css/font.css" />
		<style>

		</style>
	</head>
	<body>
		<div class="head">
			<h1><i class="iconfont icon-fanhui" onclick="javascript:window.history.back(-1);"></i>个人中心</h1>
			
		</div>
		<ul class="setlist">
			<li><a href="#">
				<span>修改交易密码</span>
				<i class="iconfont icon-xiayige"></i>
			</a>
			</li>
			<li><a href="#" >
				<span>修改登录密码</span>
				<i class="iconfont icon-xiayige"></i>
			</a>
			</li>
		</ul>
	</body>
</html>
