<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="/static/backup/css/css.css" />
		<link rel="stylesheet" href="/static/backup/css/font.css" />
		<script type="text/javascript" src="/static/backup/js/jquery-1.11.3.min.js" ></script>
		<script type="text/javascript" src="/static/backup/layer/layer.js" ></script>
		<script type="text/javascript" src="/static/backup/js/gVerify.js" ></script>
		<script type="text/javascript" src="/static/backup/js/core.js" ></script>
	</head>
	<body>
		<div class="head">
			<h1><i class="iconfont icon-fanhui" onclick="javascript:window.history.back(-1);"></i>修改昵称</h1>
		</div>
		<div class="set"><span>新昵称:</span><input type="text" id="nick_name" placeholder="请输入新昵称" maxlength="10"/></div>
		<div class="ok setok" >保存</div>

	<script>
		$(function(){
			$(".ok").click(function(){
				$.ajax({
					type:'post',
					url:'/m9/user/updateUser',
					dataType : "json",
					cache : false,
					data:{
						nick_name: $("#nick_name").val()
					},
					success : function(result) {
						if(result.success==true){
							layer.msg(result.msg, {
								icon: 1,//提示的样式
								time: 2000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
								end:function(){
									window.location.href = "/m9/user/index";
								}
							});
						}else{
							layer.msg(result.msg, {
								icon: 2,//提示的样式
								time: 2000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
								end:function(){

								}
							});
						}
					},
					error : function(result){
					}
				});
			});
		});

	</script>
	</body>
</html>
