<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no" />
		<link rel="stylesheet" href="/../../css/index.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
		<style>
			header{background: url(/img/index-bg.png) no-repeat !important;background-size: 100% 100% !important;}
			body{background: url(../../img/for_-bg.png) no-repeat;background-position: bottom;background-size: contain;}
		</style>
		<title>首页</title>
	</head>
	<body>
		<header>
			<h1>首页</h1>
		</header>
		<main class="main">
			<div class="index-warp">
				<img src="../../img/logo-.png" />
				<h2 th:text="${real_name}">林娜</h2>
			</div>
			<ul class="index-ilst">
				
				<li>
					<a href="/yilian/api/staffCheckInUser">
						<span>
							<img src="../../img/ziliao.png" class="icon-list"/>
							客户资料录入
						</span>
						<span>
						<img src="../../img/next.png" class="next"/>
						</span>
					</a>
				</li>
				<li>
					<a href="/yilian/api/openRecord">
						<span>
							<img src="../../img/luru.png" class="icon-list"/>
							客户资料记录
						</span>
						<span>
						<img src="../../img/next.png" class="next"/>
						</span>
					</a>
				</li>
				<li>
					<a href="/yilian/api/withholdUser">
						<span>
							<img src="../../img/dksh.png" class="icon-list"/>
							发起扣款
						</span>
						<img src="../../img/next.png" class="next"/>
					</a>
				</li>
				<li>
					<a href="/yilian/api/deductRecord">
						<span>
							<img src="../../img/green-kk.png" class="icon-list"/>
							扣款记录
						</span>
						<span>
						<img src="../../img/next.png" class="next"/>
						</span>
					</a>
				</li>
			</ul>
		<button class="sign-out" onclick="logout()">退出登录</button>
		</main>

		<script type="text/javascript">
			function logout() {
				window.location.href = "/yilian/api/logout";
			}
		</script>
	</body>
</html>
