<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
		<title>业务员成员</title>
		<style>
			header{background:#0077FF !important;}
			header h1{color: #FFFFFF;}
		</style>
	</head>
	<body>
		<header >
			<i onclick="window.history.back();"><img src="../../img/w-back.png"/></i>
			<h1>yi一(3人)</h1>
		</header>
		<main class="main">
			<div class="agent-seach">
			</div>
			<div class="seach-list-warp">
				<ul class="seach-list">
					<li>
						<a href="account-information.html">
							<span class="seach-name"><i>陈一</i></span>
							<span class="flexs">16170820490
							<img src="../../img/next.png" class="next"/>
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<span class="seach-name"><i>杨毅</i></span>
							<span class="flexs">16170820490
							<img src="../../img/next.png" class="next"/>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</main>
	</body>
</html>

