<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/reset.css" />
		<title>公司管理详情</title>
		<style>
			header{background:#0077FF !important;}
			header h1{color: #FFFFFF;}
			.company-details ul li:last-child{display: block !important;}
			.img{width: 100%;margin-top: 10px;}
			.img img{width: 50vw;height: 50vw;}
		</style>
	</head>
	<body>
		<header >
			<i onclick="window.history.back();"><img src="/img/w-back.png"/></i>
			<h1>信息详情</h1>
		</header>
		<div class="company-details">
			<ul>
				<li>
					<span>公司名称：</span>
					<span th:text="${comp.org_name}"></span>
				</li>
				<li>
					<span>公司地址：</span>
					<span th:text="${comp.org_address}"></span>
				</li>
				<li>
					<span>负 责 人：</span>
					<span th:text="${comp.real_name}"></span>
				</li>
				<li>
					<span>联系电话：</span>
					<span th:text="${comp.user_tel}"></span>
				</li>
				<li>
					<span>开户时间：</span>
					<span th:text="${comp.create_datetime}"></span>
				</li>
				<li>
					<p>营业执照</p>
					<div class="img">
						<img th:src="${comp.photo}" />
					</div>
				</li>
			</ul>
		</div>
		<script src="../../js/jquery-3.5.1.js"></script>
		<script src="../../js/vue.js"></script>
	</body>
</html>
