<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
		<title>公司管理</title>
		<style>
			header{background:#0077FF !important;}
			header h1{color: #FFFFFF;}
		</style>
	</head>
	<body>
		<header >
			<i onclick="window.history.back();"><img src="../../img/w-back.png"/></i>
			<h1>公司管理</h1>
		</header>
		<main class="main">
			<div class="agent-seach">
				<span>
					<img src="../../img/seach.png" />
					<input type="search" placeholder="搜索公司名称" />
				</span>
				<span>查询</span>
			</div>
			<div class="seach-list-warp">
				<ul class="seach-list">
					<li>
						<a href="company-details.html">
							<span class="seach-name">湖南大幅有限公司</span>
							<img src="../../img/next.png" class="next"/>
						</a>
					</li>
					<li>
						<a href="company-details.html">
							<span  class="seach-name">深圳启翔中介</span>
							<img src="../../img/next.png" class="next" />
						</a>
					</li>
				</ul>
			</div>
		</main>
	</body>
</html>
