<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
		<title>公司管理详情</title>
		<style>
			header{background:#0077FF !important;}
			header h1{color: #FFFFFF;}
		</style>
	</head>
	<body>
		<header >
			<i onclick="window.history.back();"><img src="../../img/w-back.png"/></i>
			<h1>湖南大幅有限公司</h1>
		</header>
		<div class="company-details">
			<ul >
				<li>
					<span>公司名称：</span>
					<span>湖南大幅有限公司</span>
				</li>
				<li>
					<span>公司地址：</span>
					<span>湖南省湘潭市岳塘区芙蓉大道88号</span>
				</li>
				<li>
					<span>负 责 人：</span>
					<span>孟娜</span>
				</li>
				<li>
					<span>联系电话：</span>
					<span>16654321522</span>
				</li>
				<li>
					<span>录入时间：</span>
					<span>2018/09/05 15:34:07</span>
				</li>
			</ul>
		</div>
	</body>
</html>
