<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no" />
			<link rel="stylesheet" href="../../css/style.css" />
			<link rel="stylesheet" href="../../css/reset.css" />
			<title>扣款记录</title>
			<style>
				header{background:#0077FF !important;}
				header h1{color: #FFFFFF;}
				
			</style>
		</head>
		<body>
			<header >
				<i onclick="window.history.back();"><img src="../../img/w-back.png"/></i>
				<h1>扣款记录</h1>
			</header>
			<main class="main">
				<div class="agent-seach">
					<span>
						<img src="../../img/seach.png" />
						<input type="search" placeholder="姓名" />
					</span>
					<span>查询</span>
				</div>
				<div class="seach-list-warp">
					<div class="details-warp">
						<div class="details-item">
							<ul class="item-txt">
								<li>
									<span>姓名：</span>
									<span>陈一</span>
								</li>
								<li>
									<span>代扣金额：</span>
									<span class="blod color-blue">￥2000</span>
								</li>
								<li>
									<span>手机号：</span>
									<span>13542124512</span>
								</li>
								<li>
									<span>发起扣款时间：</span>
									<span>2018/09/05 15:34:07</span>
								</li>
								
								<li>
									<span>状态：</span>
									<span class="blod color-blue">已完成</span>
								</li>
								<li>
									<span>备注：</span>
									<span ></span>
								</li>
							</ul>
							
							<ul class="item-txt">
								<li>
									<span>姓名：</span>
									<span>陈一</span>
								</li>
								<li>
									<span>代扣金额：</span>
									<span class="blod color-blue">￥2000</span>
								</li>
								<li>
									<span>手机号：</span>
									<span>13542124512</span>
								</li>
								<li>
									<span>发起扣款时间：</span>
									<span>2018/09/05 15:34:07</span>
								</li>
								
								<li>
									<span>状态：</span>
									<span class="blod color-errno">未完成</span>
								</li>
								<li>
									<span>备注：</span>
									<span >扣款失败</span>
								</li>
							</ul>					
						</div>
					</div>
				</div>
			</main>
	</head>
	<body>
	</body>
</html>

