<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no" />
			<link rel="stylesheet" href="../../css/style.css" />
			<link rel="stylesheet" href="../../css/reset.css" />
			<link rel="stylesheet" href="../../css/layui.css" />
			<title>明细</title>
			<style>
				header{background:#0077FF !important;}
				header h1{color: #FFFFFF;}
			</style>
		</head>
		<body>
			<header >
				<i onclick="window.history.back();"><img src="../../img/w-back.png"/></i>
				<h1>开户信息</h1>
			</header>
			<main class="main">
				<div class="seach-list-warp">
					<ul class="item-details">
						<li>
							<span>姓名：</span>
							<span>陈一</span>
						</li>
						<li>
							<span>手机号：</span>
							<span>13542124512</span>
						</li>
						<li>
							<span>身份证号码：</span>
							<span>47300818841127815X</span>
						</li>
						<li>
							<span>开户行：</span>
							<span>工商银行</span>
						</li>
						<li>
							<span>银行卡号：</span>
							<span>6228 2855 5645 1253</span>
						</li>
						<li>
							<span>开户时间：</span>
							<span>2018/09/05 15:34:07</span>
						</li>
						<li>
							<span>代扣协议：</span>
							<span >已签订</span>
						</li>
						<li>
							<span>证件照：</span>
							<span></span>
						</li>
					</ul>
					<div class="certificates-img">
						<ul>
							
							<li>
								<img src="../../img/index-bg.png" />
							</li>
							<li>
								<img src="../../img/index-bg.png" />
							</li>
							<li>
								<img src="../../img/index-bg.png" />
							</li>
							<li>
								<img src="../../img/index-bg.png" />
							</li>
							<li>
								<img src="../../img/index-bg.png" />
							</li>
							<li>
								<img src="../../img/index-bg.png" />
							</li>
						</ul>
					</div>
				</div>
			
			</main>
	</head>
	
	<body>
	</body>
</html>
