<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<title>开户成功</title>
		<style>
			.success-img{width: 30vw;height: 30vw;margin: 1rem auto;}
			.success-img img{width: 100%;}
			.success-txt{width: 100%;display: flex;flex-direction: column;justify-content: center;}
			.success-txt h2{text-align: center;font-size: 1.1rem;color: #666666;}
			.success-txt button{display: block;width: 60vw;margin: 1rem auto;height: 2rem;background: #0077FF;
			border-radius: 20px;color: white;font-size: 1rem;}
		</style>
	</head>
	<body>
		<header >
			<i onclick="window.history.back();"><img src="../img/w-back.png"/></i>
			<h1>开户失败</h1>
		</header>
		<div class="success-img">
			<img src="../img/error.png" />
		</div>
		<div class="success-txt">
			<h2>开户失败！</h2>
			<button id="javascript:window.history.go(-1)">返回</button>
		</div>

	</body>
</html>
