<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/reset.css" />
		<title>公司管理</title>
		<style>
			header{background:#0077FF !important;}
			header h1{color: #FFFFFF;}
		</style>
	</head>
	<body>
		<header>
			<i onclick="window.history.back();"><img src="/img/w-back.png"/></i>
			<h1 th:text="${org_name}">公司管理</h1>
		</header>
		<main class="main">
		<form name="form" method="get" th:action="@{'/yilian/api/companies/'+${org_no}}">
			<div class="agent-seach">
				<span>
					<img src="/img/seach.png"/>
					<input type="search" th:name="real_name" placeholder="搜索公司名称" />
				</span>
				<span onclick="companiesRecordQuery()">查询</span>
			</div>
			<div class="seach-list-warp">
				<ul class="seach-list" th:each="rd :${record}">
					<li>
						<a th:href="@{'/yilian/api/companyDetail/'+${rd.id}}">
							<span class="seach-name" th:text="${rd.org_name}">湖南大幅有限公司</span>
							<img src="/img/next.png" class="next"/>
						</a>
					</li>
				</ul>
			</div>
		</form>
		</main>
		
		
		<script type="text/javascript">
				function companiesRecordQuery(){
					document.forms[0].submit();
				}
		</script>
	</body>
</html>
