<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.renegade.dao.ExchangeDao">

	<select id="get" resultType="com.renegade.domain.ExchangeDO">
		select `id`,`user_id`,`money`,`create_time`,`type` from t_exchange where id = #{value}
	</select>
   <select id="listRecord" resultType="java.util.HashMap">
 	select `money`,if(type=1,'USDT','UT')as type,DATE_FORMAT(create_time,'%Y-%m-%d %T') AS createTime
    from t_exchange  where user_id=#{userId}
     order by create_time DESC
   </select>
	<select id="list" resultType="com.renegade.domain.ExchangeDO">
		select `id`,`user_id`,`money`,`create_time`,`type` from t_exchange
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="money != null and money != ''"> and money = #{money} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_exchange
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="money != null and money != ''"> and money = #{money} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.renegade.domain.ExchangeDO">
		insert into t_exchange
		(
			`id`, 
			`user_id`, 
			`money`, 
			`create_time`, 
			`type`
		)
		values
		(
			#{id}, 
			#{userId}, 
			#{money}, 
			#{createTime}, 
			#{type}
		)
	</insert>
	 
	<update id="update" parameterType="com.renegade.domain.ExchangeDO">
		update t_exchange 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="money != null">`money` = #{money}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="type != null">`type` = #{type}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_exchange where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_exchange where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>