<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renegade.dao.ParamDao">
	<select id="getsss"  resultType="com.renegade.domain.ParamDO">
		select
		`id`,`param_code`,`param_name`,`param_value`,`craete_time`,`update_time`,`autor_user`
		from t_sys_param where id = #{value}
	</select>
  <select id="findValue"  resultType="com.renegade.domain.ParamDO">
    select `id`,`param_code`,`param_name`,`param_value`,`craete_time`,`update_time`,`autor_user`
     from  t_sys_param where  param_code=#{paramCode}
  </select> 
	<select id="list" resultType="com.renegade.domain.ParamDO">
		select
		`id`,`param_code`,`param_name`,`param_value`,`craete_time`,`update_time`,`autor_user`
		from t_sys_param
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="paramCode != null and paramCode != ''"> and param_code = #{paramCode} </if>
			<if test="paramName != null and paramName != ''"> and param_name = #{paramName} </if>
			<if test="paramValue != null and paramValue != ''"> and param_value = #{paramValue} </if>
			<if test="craeteTime != null and craeteTime != ''"> and craete_time = #{craeteTime} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="autorUser != null and autorUser != ''"> and autor_user = #{autorUser} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from t_sys_param
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="paramCode != null and paramCode != ''"> and param_code = #{paramCode} </if>
			<if test="paramName != null and paramName != ''"> and param_name = #{paramName} </if>
			<if test="paramValue != null and paramValue != ''"> and param_value = #{paramValue} </if>
			<if test="craeteTime != null and craeteTime != ''"> and craete_time = #{craeteTime} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="autorUser != null and autorUser != ''"> and autor_user = #{autorUser} </if>
		</where>
	</select>

	<insert id="save"
		parameterType="com.renegade.domain.ParamDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_sys_param
		(
		`param_code`,
		`param_name`,
		`param_value`,
		`craete_time`,
		`update_time`,
		`autor_user`
		)
		values
		(
		#{paramCode},
		#{paramName},
		#{paramValue},
		#{craeteTime},
		#{updateTime},
		#{autorUser}
		)
	</insert>

	<update id="update"
		parameterType="com.renegade.domain.ParamDO">
		update t_sys_param
		<set>
			<if test="paramCode != null">`param_code` = #{paramCode}, </if>
			<if test="paramName != null">`param_name` = #{paramName}, </if>
			<if test="paramValue != null">`param_value` = #{paramValue}, </if>
			<if test="craeteTime != null">`craete_time` = #{craeteTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="autorUser != null">`autor_user` = #{autorUser}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from t_sys_param where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from t_sys_param where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

</mapper>